body {
	background: url("../images/warm-color-background.png");
}

.row {
	margin-bottom: 10px;
}

.randomNumberDiv {
	background-color: lightgreen;
}

.winsLossesDiv {
	background-color: lightblue;
}

.scoreDiv {
	background-color: pink;
}